@model List<AtividadeModel>

<div class="container">
    <div class="row">
        <!-- Coluna para Pendentes -->
        <div class="col-4">
            <h1 class="text-primary">Pendentes</h1>
            @if (Model.Count() > 0)
            {
                foreach (var atividade in Model.Where(x => x.Status.Nome == "Pendente"))
                {
                    <div class="card text-center">
                        <div class="card-header bg-primary">
                            @atividade.Status.Nome
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@atividade.Titulo</h5>
                            <p class="card-text">@atividade.Descricao</p>
                            <a class="btn btn-primary w-50 mx-2">Próximo card</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @atividade.DataCriacao.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Coluna para Em andamento -->
        <div class="col-4"> 
            <h1 class="text-warning">Em Andamento</h1>
            @if (Model.Count() > 0)
            {
                foreach (var atividade in Model.Where(x => x.Status.Nome == "Em andamento"))
                {
                    <div class="card text-center">
                        <div class="card-header bg-warning">
                            @atividade.Status.Nome
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@atividade.Titulo</h5>
                            <p class="card-text">@atividade.Descricao</p>
                            <a class="btn btn-primary w-50 mx-2">Próximo card</a>
                            <a class="btn btn-primary w-50 mx-2">Voltar</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @atividade.DataCriacao.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }
        </div>

        <!-- Coluna para Finalizadas -->
        <div class="col-4">
            <h1 class="text-success">Finalizadas</h1>
            @if (Model.Count() > 0)
            {
                foreach (var atividade in Model.Where(x => x.Status.Nome == "Concluído"))
                {
                    <div class="card text-center">
                        <div class="card-header bg-success">
                            @atividade.Status.Nome
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@atividade.Titulo</h5>
                            <p class="card-text">@atividade.Descricao</p>
                            <a class="btn btn-primary w-50 mx-2">Deletar card</a>
                            <a class="btn btn-primary w-50 mx-2">Voltar</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                            @atividade.DataCriacao.ToString("dd/MM/yyyy")
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>